body {
    background: url('/img/login-bg.png')
}

.vh-100 {
    min-height: 100vh;
    height: auto;
}

.card {
    z-index: 100;
    background-color: rgba(#ffffff, $alpha: .9);
    transition: .2s;

    &:hover {
        background-color: #ffffff;
    }
}

.auth-logo {
    position: absolute;
    bottom: 0;
    padding: 40px 30px;
    transition: .2s;
    z-index: 99;

    @media screen and (max-width: 768px) {
        display: none;
    }

    img {
        height: 64px;
        filter: opacity(80%);
    }
}

.login-logo {
    margin: 15px 0;

    img {
        height: 70px;
    }
}

.md-form {
    margin-top: 1.0rem;
}
