.profile-card {
    margin-top: 150px;
}

.profile-pic {
    margin-top: -110px;
    position: relative;
    transition: .2s;
    cursor: pointer;

    &:hover {
        margin-top: -115px;
        margin-bottom: 5px;
    }

    img {
        max-height: 200px;
        border-radius: 100%;

    }
}

.profile-info {
    height: 100%;

    @media screen and (max-width: 768px) {
        text-align: center;
    }
}