.card {
    margin: 10px 10px;
}

.imagen-perfil {
    background-image: url('/img/bg-perfil.png');
    background-position: center;
    background-size: cover;

    img {
        max-height: 200px;
        width: 200px;
        margin: 0 auto;
        border-radius: 100%;
    }
}

.info-perfil {

    @media screen and (max-width: 768px) {
        text-align: center;
    }
}
